[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "nglui"
dynamic = ["version"]
description = "Framework for data-driven generation of neuroglancer states."
readme = "README.md"
license = "MIT"
requires-python = ">= 3.9"
authors = [
    { name = "Casey Schneider-Mizell", email = "caseysm@gmail.com" },
    { name = "Derrick Brittain"},
    { name = "Forrest Collman" },
]
dependencies = [
    "python-box",
    "caveclient>=5.22.0",
    "ipython",
    "neuroglancer >= 2.40.1",
    "numpy>=1.11.0",
    "pandas>=1.0.0",
    "requests",
    "six",
    "webcolors",
    "attrs>=23.2.0",
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

[project.urls]
Homepage = "https://caveconnectome.github.io/nglui/"
Repository = "https://github.com/CAVEconnectome/nglui.git"
Changelog = "https://caveconnectome.github.io/nglui/changelog/"
Issues = "https://github.com/CAVEconnectome/nglui/issues"

[tool.hatch.version]
path = "src/nglui/__init__.py"

[tool.hatch.build.targets.sdist]
include = [
    "/src",
]

[[tool.hatch.envs.hatch-test.matrix]]
python = ["3.9", "3.10", "3.11", "3.12"]

[tool.hatch.envs.docs]
dependencies = [
  "mkdocs",
  "mkdocs-material",
  "mkdocstrings[python]",
]
[tool.hatch.envs.docs.scripts]
build = "mkdocs build --clean --strict"
serve = "mkdocs serve --dev-addr localhost:8000"
