
{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Launch Neuroglancer Annotation Tool:</h2>
<form method="post" action="{{url}}">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    <table><tr><td>
    <table>
    <tr>
      <td>
        Dataset
      </td>
      </tr>
      {% for choice in form.dataset %}
      <tr>
        <td>{{choice}} <a href="{{info_url+"/dataset/{}".format(choice.data)}}"
        {{choice.label}} </a></td>
      </tr>
      {% endfor %}
    </tr>
  </table></td>
  <td><table>
      <tr>
          <td>
              Extensions
          </td>
      </tr>
      {% for ext in form if ext.label.text == 'extension' %}
      <tr>
          <td>{{ext}} {{ext.id}}</td>
      </tr>
      {% endfor %}
  </table></td>
</tr></table>

<input type="submit" value="Launch">
</form>
{% endblock %}